.enquiry{
    margin-top:-25px;
    align-items: flex-start;
    color:#fff;
    padding-top: 25px;
}

h1,h4{
    text-align: center;
}

h3{
    color:#fff;
}


.form-container{
    margin: 4rem 15rem;
    color: #000000;
    border:5px solid #fff;
    background-color: rgb(50, 0, 85);
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction:column;
    width: 50%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #000000;
    background-color:rgb(200, 200, 200);
}

.form-container textarea{
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #000000;
    background-color:rgb(200, 200, 200);
}

.form-container button{
    display: inline;
}

@media screen and (max-width:850px){
    .form-container{
        margin: 4rem 2rem;
        color: #000000;
    }
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }

}

button{
    width:50%;
    height:50px;
    float: right;
    background-color:rgb(200, 200, 200);
}

button:hover{
    background-color: rgb(0, 80, 0);
}

.btnclass{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:20px 3px 40px 300px;
}

